* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #6c63ff;
  --color-black: #070707;
  --color-dark-700: #2c2c2e;
  --color-light: #e0e0e0;
  --color-white: #ffffff;
  --border-radius-sm: .5rem;
  --border-radius-md: 1rem;

  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vh;
  display: grid;
  gap: 3rem;
}

.hero {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.8) 100%
    ),
    url("./images/pexels-bertellifotografia-3321797.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.hero-content {
  display: grid;
  gap: 1rem;
  place-content: center;
  place-items: center;
  color: var(--color-white);
  height: 100%;
  text-align: center;
  padding: 0 2rem;
}

.hero-content h1 {
  font-size: 2rem;
  line-height: 3rem;
}

.hero-content p {
  line-height: 1.5rem;
}

.btn {
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: var(--border-radius-sm);
  text-decoration: none;
  padding: .5rem 1.25rem;
}

.speakers, .schedule, .newsletter {
  text-align: center;
}

.speakers-grid, .schedule-grid {
  display: grid;
  grid-template-columns: minmax(21rem, 25rem);
  gap: 1.5rem;
  place-content: center;
  padding: 3rem 1rem;
}

.speaker-card {
  background-color: var(--color-white);
  border-radius: var(--border-radius-sm);
  display: grid;
  place-items: center;
  gap: 1.5rem;
  padding: 1.5rem;
}

.speaker-card img {
  border-radius: 50%;
}

.schedule-item {
  background-color: var(--color-white);
  border-radius: var(--border-radius-sm);
  display: grid;
  gap: 1rem;
  padding: 1.5rem;
  text-align: left;
}

.newsletter-grid {
  display: grid;
  gap: 1rem;
  place-content: center;
}

.newsletter-image img {
  width: 100%;
  
}

@media screen and (prefers-color-scheme: dark) {
  body {
    background-color: var(--color-light);
  }
}