* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Colors */
  --color-primary: #6c63ff;
  --color-black: #070707;
  --color-dark-700: #2c2c2e;
  --color-dark-300: #8a8784;
  --color-light: #e0e0e0;
  --color-white: #ffffff;

  /* Border */
  --border-radius-sm: .5rem;

  /* Space */
  --space-0: 0;
  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 1rem;
  --space-4: 1.5rem;
  --space-5: 3rem;

  /* Font-size */
  --fs-1: 2.5rem;
  --fs-2: 2rem;
  --fs-3: 1.75rem;
  --fs-4: 1.5rem;
  --fs-5: 1.25rem;
  --fs-6: 1rem;

  /* Line-height */
  --lh-1: 1;
  --lh-sm: 1.25;
  --lh-base: 1.5;
  --lh-lg: 2;

  font-family: Arial, Helvetica, sans-serif;
}

/* Global styles */
body {
  min-height: 100vh;
  display: grid;
}

body > section {
  padding: var(--space-4);
  text-align: center;
}

.btn {
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: var(--border-radius-sm);
  text-decoration: none;
  padding: .75rem var(--space-4);
  border: none;
  width: max-content;
}

h1, h2, p {
  line-height: var(--lh-base);
}

h3 {
  font-size: var(--fs-6);
}

/* Shared styles */
.btn, .speaker-card, .schedule-item {
  cursor: pointer;
  transition: .25s ease;
}

.speaker-card, .schedule-item {
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
}

.btn:hover, .speaker-card:hover, .schedule-item:hover  {
  transform: translatey(-.25rem) scale(1.01);
}

.speakers-grid, .schedule-grid {
  display: grid;
  grid-template-columns: minmax(21rem, 25rem);
  gap: var(--space-4);
  place-content: center;
  margin-top: var(--space-4)
}

/* Hero section */
.hero {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.8) 100%
    ),
    url("./images/pexels-bertellifotografia-3321797.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.hero-content {
  display: grid;
  gap: var(--space-4);
  place-content: center;
  place-items: center;
  color: var(--color-white);
  height: 100%;
  text-align: center;
  padding: 0 var(--space-4);
}

.hero-content h1 {
  font-size: var(--fs-2);
}

/* Speakers section */
.speaker-card {
  background-color: var(--color-white);
  border-radius: var(--border-radius-sm);
  display: grid;
  gap: var(--space-2);
  place-items: center;
  padding: var(--space-4);
}

.speaker-card img {
  border-radius: 50%;
}

/* Schedule section */
.schedule-item {
  background-color: var(--color-white);
  border-radius: var(--border-radius-sm);
  display: grid;
  gap: var(--space-2);
  padding: var(--space-4);
  text-align: left;
}

/* Newsletter section */
.newsletter-grid {
  display: grid;
  grid-template-columns: minmax(auto, 25rem);
  gap: var(--space-4);
  place-content: center;
}

.newsletter-image {
  width: 100%;
  margin: 0 auto
}

.newsletter-image img {
  width: 75%;
  max-width: 34rem;
}

.newsletter-text h2 {
  padding: var(--space-4);
}

.newsletter-text p {
  padding: 0 var(--space-4);
  color: var(--color-dark-700);
}

/* Newsletter form */
.newsletter-form {
  display: grid;
  gap: var(--space-4);
  place-items: center;
  margin-top: var(--space-3);
  text-align: center;
}

.form-group {
  display: grid;
  grid-template-columns: minmax(21rem, 25rem);
  gap: var(--space-2);
}

.form-group label {
  color: var(--color-dark-700);
}

.form-group input {
  padding: .75rem;
  border-radius: var(--border-radius-sm);
  border: .5px solid var(--color-dark-700);
}

/* Footer */
.footer {
  display: grid;
  gap: var(--space-3);
  place-items: center;
  padding: 0 var(--space-3);
  font-size: .85rem;
  margin: var(--space-4) 0;
}

@media screen and (min-width: 1024px) {
  /* Global styles */
  body > section:not(.hero) {
    width: 100%;
    max-width: 120rem;
    padding: var(--space-5) 6vw;
    margin: 0 auto;
  }

  /* Shared styles */
  .newsletter-image, .newsletter-text {
    align-self: center; 
  }
  
  .newsletter-text h2,
  .newsletter-text p {
    text-align: left;
    padding: var(--space-1) 0;
  }
  
  .schedule-grid, .newsletter-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  
  /* Others */
  .speakers-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  
  .newsletter-image {
    padding: 0 var(--space-5);
  }

  .newsletter-image img {
    width: 100%;
  }
  
  .newsletter-form {
    text-align: left;
    justify-items: start;
    gap: var(--space-3);
  }
}

@media screen and (prefers-color-scheme: light) {
  body {
    background-color: var(--color-dark-700);
    color: var(--color-white)
  }

  .schedule-item, .speaker-card, .form-group input {
    background-color: var(--color-black);
  }

  .form-group label {
    color: var(--color-white);
  }

  .newsletter-text p {
    color: var(--color-dark-300)
  }

  .form-group input {
    border-color: var(--color-dark-300);
    color: var(--color-white);
  }
}

@media screen and (prefers-color-scheme: dark) {
  body {
    background-color: var(--color-light);
  }
}